<!-- @if(loading){
    <p>Loading...</p>
} @else if (error) {
    <p>{{error}}</p>
} @else {
    @for( prod of products; track prod.id){
        <div class="main-product-contaniner">
            <h1>{{prod.title}}</h1>
            <img src="{{prod.thumbnail}}" alt="">
            <p>{{prod.description}}</p>
        </div>
    }    
} 
 -->

 <div *ngIf="loading; else content">
    <p>Loading...</p>
</div>

<ng-template #content>
    <div *ngIf="error; else productList">
        <p>{{ error }}</p>
    </div>

    <ng-template #productList>
        <div class="main-product-container">
            <div *ngFor="let prod of products; trackBy: trackById" class="product-card">
                <div class="product-image-container">
                    <img [src]="prod.thumbnail" [alt]="prod.title">
                </div>
                <div class="product-info">
                    <h5>{{ prod.title }}</h5>
                    <p class="product-price">{{ prod.price | currency }}</p>
                    <p>{{ prod.description }}</p>
                </div>
            </div>
        </div>
    </ng-template>
</ng-template>
